@page "/productosVendidos/{id:int}/editar"
@inject ProductoVendidoServices Service

<h3>Edit Producto Vendido</h3>

@if (productoVendido == null)
{
    <p>No existe el producto</p>
}
else
{
    <ProductosVendidosForm ProductoVendido="productoVendido" />
}

@code {

    [Parameter]
    public int Id { get; set; }

    private ProductoVendido? productoVendido;

    protected override void OnInitialized()
    {

        productoVendido = Service.GetOneProductoVendido(Id);
    }
}