@page "/productos/{id:int}/editar"
@inject ProductosServices Service

<h3>EditProducto</h3>

@if (producto == null)
{
    <p>No existe el producto</p>
}
else
{
    <ProductosForm Producto="producto" />
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Producto? producto;

    protected override void OnInitialized()
    {
        producto = Service.GetOneProducto(Id);
    }
}

